{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}

<div class="row">
  <div class="col-md-12">
      <div class="page-header">
        <h1>Editar posição</h1>
        {% if entity is defined %}
          <p class="text-right">
            <a class="btn btn-default btn-danger" href="{{ path('posicao_delete', {'id': entity.id}) }}" title="Remover a posição">Remover posição
            </a>
            <a class="btn btn-default" href="{{ path('posicao') }}">Voltar para a lista</a>
          </p>
        {% endif %}
      </div>
      {% embed 'RoyopaSicinBundle:Posicao:form.html.twig' %}{% endembed %}
  </div>
</div>
{% endblock %}
