{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>InstituicaoFinanceira creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('instituicao_financeira') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
